body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b122e; /* Cor de fundo principal do site */
    color: #ffffff; /* Texto branco */
}

.termos-container {
    max-width: 900px;
    width: 90%;
    background: #152259;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #00d4ff;

    /* Centralização */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    text-align: center;
    color: #00d4ff; /* Azul claro */
    text-transform: uppercase;
    font-size: 24px;
}

h2 {
    color: #ffffff;
    border-bottom: 2px solid lightblue; /* Linha azul clara */
    padding-bottom: 5px;
}

.termos-content {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.termos-footer {
    margin-top: 20px;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #007bff; /* Azul original */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: not-allowed;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

button.enabled {
    cursor: pointer;
    background-color: #28a745; /* Verde quando ativado */
}

button:hover {
    background-color: #0056b3; /* Azul mais escuro no hover */
}
